Core/quartz/fi-order-auto-repair-abc-jumbo/src/main/webapp/META-INF/innerservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://www.hnapay.com/schema/innerservice"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="https://www.hnapay.com/schema/innerservice"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<!-- 客户端定义facotry定义 -->
	<xsd:element name="c">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="endpoint" type="xsd:string" use="required" />
					<xsd:attribute name="interfaceName" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- 服务端RemoteBean定义 -->
	<xsd:element name="s">
		<xsd:complexType>
			<xsd:attribute name="endpoint" type="xsd:string" use="required" />
			<xsd:attribute name="target" type="xsd:string" use="required" />
			<xsd:attribute name="interfaceName" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>